
.slider {
  width: 1024px;
  height: 768px;
  margin: 0 auto;

  .slider__inner {
    overflow: hidden;
    position: relative;

    .slider__home {
      position: fixed;
      top: 90px;
      left: 75px;
      margin-top: -60px;

      &.home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;

        .home__btn {
          background-color: rgba(255, 255, 255, 0);

          .home__img {
            width: 45px;
          }
        }

        .home__border {
          width: 2px;
          background-color: #000;
          height: 45px;
        }

        .home__lable {
          text-transform: uppercase;
          letter-spacing: 4px;
          font-size: 30px;
        }
      }
    }

    .slider__logo {
      position: fixed;
      bottom: 20px;
      left: 75px;
      width: 60px;
      z-index: 10;
    }
  }
}